<%- include('./partials/head') -%>

<p class="centered-text">welcome to the bathroom, <%- username -%></p>

<div class="main-buttons">
    <button onclick="window.location.href='/admin/dashboard/accounts'">manage accounts</button>
    <button onclick="window.location.href='/admin/dashboard/apiSettings'">api settings</button>
    <button onclick="window.location.href='/admin/logout'">log out</button>
</div>
