<!DOCTYPE html>
<html>
    <head>
        <title>URL Shortener</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="message">
            <h1><%= main %></h1>
            <p><%= description %></p>
        </div>
    </body>
</html>