<%- include('./partials/head') -%>

<body>
    <%if (locals.messages) { %>
        <div class="login-alert"><%-messages[0]-%></div>
    <% } %>
    <form method="post" action="/admin/login" class="login-form">
        <h1>login</h1>
        <p>enter your user credentials in order to create or delete shortened urls.</p>
        <p>
            <label for="email">email:</label>
            <input type="email" name="email" id="email">
        </p>
        <p>
            <label for="password">password:</label>
            <input name="password" type="password" id="password">
        </p>
        <input type="submit" value="submit">
    </form>
</body>